lxml
requests
pandas
xlrd
xlsxwriter
SPARQLWrapper
sickle
pymods
polymatheia>=0.1.1,<0.2.0
scipy
seaborn
bs4
nltk
voila
plotly
folium
streamlit_folium
pydeck
tweepy
altair
wget
essentia
wordcloud
gensim
spaCy
pyLDAvis
tables
pyarrow
matplotlib
