lxml
requests
pandas
xlrd
xlsxwriter
SPARQLWrapper
sickle
pymods
polymatheia
scipy
seaborn
beautifulsoup4
nltk
voila
plotly
folium
streamlit_folium
pydeck
#tweepy
#altair
wget
essentia
wordcloud
#gensim
#spacy
#pyLDAvis
tables
pyarrow
matplotlib
jupyter-ai
jupyter-ai-magics
huggingface_hub
PyPDF2
langchain-openai
geopy
numpy==1.23.5
